<!-- Section: Design Block -->
<section class="text-center justify-content-center col-md-6 offset-md-3"> 
    <!-- Background image -->
  
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          margin-top: -50px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
          ">
      <div class="card-body py-5 px-md-5">
  
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5">Sign In</h2>
            <form class="form-text">
              <!-- 2 column grid layout with text inputs for the first and last names --> 
  
              <!-- Email input -->
              <div class="form__group field">
                <input type="email" class="form__field" placeholder="Email" name="email" id='email' required />
                <label for="email" class="form__label">Email</label>
              </div>
              <!-- Password input -->
              <div class="form__group field">
                <input type="password" class="form__field" placeholder="Password" name="passowrd" id='password' required />
                <label for="password" class="form__label">Password</label>
              </div>
  
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4 signin_button">
                Sign In
              </button>
  
              <!-- Register buttons -->
              <div>
                <p class="mb-0">Don't have an account? <a routerLink="/task-mgmt-sys/sign-up" class="text-dark-50 fw-bold">Sign Up</a>
                </p>
              </div>
              <div class="text-center"> 
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-facebook-f"></i>
                </button>
  
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-google"></i>
                </button>
  
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-twitter"></i>
                </button>
  
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-github"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->