
<div id="container"  class="container">  
     
      <div class="add-task">
        <button mat-raised-button (click)="AddTodos()">+ Add a Task</button>  
      </div> 
    <span id="total-tasks"
      >Total tasks: <span id="tasks-counter">{{total_task}}</span></span
    >
    <span id="complete-tasks" class="completeAll"> &#10004;Complete all!</span>
    <span id="export-as-csv" class="export-as-csv">Export as CSV</span>
    <span id="delete-completed-tasks" class="deleteAll">Delete all Completed!</span>
    <div id="list-item">
      <ul id="list" *ngFor="let item of todoslist">
        <li>
        <input type="checkbox" id={{item.id}} data-id="12" class="custom-checkbox" [checked]="item.isCompleted" (click)="CompleteTodos(item.id)">
        <ng-container *ngIf="item.isCompleted; then thenTemplate; else elseTemplate"></ng-container>
        <ng-template #thenTemplate>
          <label for={{item.id}} [ngStyle]="{color:' '}">{{item.desc}}</label> 
        </ng-template>
        <ng-template #elseTemplate>
          <label for={{item.id}}>{{item.desc}}</label>
        </ng-template> 
        <span [ngSwitch]="item.priority"> 
          <span *ngSwitchCase="'high'">
            <img src="https://img.icons8.com/?size=512&id=Vtv1Seexiz5k&format=png" class="priority" data-id="12" alt="Highest priority"/>
          </span>
          <span *ngSwitchCase="'low'">
            <img src="https://img.icons8.com/?size=512&id=2zvjnouG33Wa&format=png" class="priority" data-id="12" alt="Low Priority"/>
          </span>
          <span *ngSwitchDefault>
            <img src="https://img.icons8.com/?size=512&id=SpG4qJvmntf1&format=png" class="priority" data-id="12" alt="Medium Priority"/>
          </span>  
        </span>
        <img src="https://img.icons8.com/?size=512&id=AWPFmbr0eZkC&format=png" (click)="EditTodos(item.id)" class="edit" data-id="12" /> 
        <img src="https://img.icons8.com/?size=512&id=H7cJKYmYlggf&format=png" (click)="DeleteTodos(item.id)" class="delete" data-id="12" />
        <!-- <label for={{item.id}}>{{item.desc}}</label>  -->    
      </li>
      </ul>
    </div>
    <span id="remaining-tasks"
      >Remaining tasks:<span id="remaining-task">{{remaining_task}}</span></span
    >
    <span id="completed-tasks"
      >Completed:<span id="done-tasks-counter">{{remaining_task}} </span></span
    >
    <span id="label-uncomplete" class="uncomplete">Uncomplete &nbsp;</span>
    <span id="label-complete" class="complete">Completed &nbsp;&nbsp;</span>
    <span id="label-all" class="all">All &nbsp;&nbsp;</span>
  </div>



  